VITE_SUPABASE_URL=https://gdqrvqjxlszfyntrapeo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkcXJ2cWp4bHN6ZnludHJhcGVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2NTcwMTUsImV4cCI6MjEwNDIzMzAxNX0.A0eVju-Tlvq3gGANU-5estyGOLGmo2aIanmG7C0eLVI
